/* General setup */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: arial;
    overflow: hidden;
}

input {
    border: none;
}

/* Guesses page */

.header {
    position: absolute;
    margin-top: 0;
    height: 50px;
    width: 100%;
    background-color: #953133;
    display: flex;
}

.content {
    position: absolute;
    margin-top: 60px;
    height: 100%;
    width: 100%;
    overflow: auto;
    padding-bottom: 150px;
}

.table-match {
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    text-align: center;
    margin-bottom: 10px;
}

.table-match, .td-match {
    border: 1px solid #953133;
    border-collapse: collapse;
}

.col-team {
    width: 30%;
    background-color: #e7e4e0;
    color: black;
}

.col-goals {
    width: 10%;
}

.col-versus {
    width: 10%;
    background-color: #e7e4e0;
    color: black;
}

.col-id {
    background-color: #953133;
    color: white;
}

.col-datetime {
    background-color: #e7e4e0;
    color: black;
}

.col-score {
    background-color: #e7e4e0;
    color: black;
}

.col-real-result {
    background-color: #e7e4e0;
    color: black;
}

.tr-match-info, .tr-match-result {
    width: 100%;
}

.tr-match-info {
    height: 25px;
}

.tr-match-result {
    height: 40px;
    font-size: 18px;
    background-color: #e7e4e0;
}

.input-goals {
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    padding-left: 15px;
    background-color: white;
}

.input-goals:disabled {
    background-color: #e7e4e0;
}

.button-option {
    height: 100%;
    width: 100%;
    background-color: #953133;
    color: white;
}

.button-option:hover {
    background-color: gray;
    color: black;
    cursor: pointer;
}

.button-option:active {
    background-color: #953133;
    color: white;
    cursor: auto;
}

.div-save {
    text-align: right;
    width: 100%;
}

.button-save {
    height: 100%;
    width: 20%;
    background-color: gray;
    color: white;
}

.button-save:hover {
    background-color: #e7e4e0;
    color: black;
    cursor: pointer;
}

.button-save:active {
    background-color: gray;
    color: white;
    cursor: auto;
}

/* Ranking page */

.table-ranking {
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    text-align: center;
    margin-bottom: 10px;
    color: white;
}

.table-ranking, .td-ranking {
    border: 1px solid black;
    border-collapse: collapse;
}

/* Login page */

.div-login {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.input-login {
    height: 40px;
    border-radius: 10px;
    text-align: center;
    margin-top: 5px;
    background-color: #e7e4e0;
    font-size: 18px;
}

.label-login {
    font-size: 16px;
}

.button-login {
    height: 40px;
    border-radius: 20px;
    width: 60px;
}

.image-login {
    width: 70%;
}

.button-login:hover {
    background-color: gray;
    color: white;
    cursor: pointer;
}

.button-login:active {
    background-color: white;
    color: black;
    cursor: auto;
}

.tr-header {
    background-color: gray;
    color: white;
    width: 100%;
}

.tr-odd {
    background-color: white;
}

.tr-even {
    background-color: #e7e4e0;
}

.p-login-error {
    color: #953133;
}

/* Management page */

.table-users {
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    text-align: center;
    margin-bottom: 10px;
    font-size: 18px;
}

.button-user {
    width: 100%;
    height: 40px;
}

.button-user:hover {
    background-color: gray;
    color: white;
    cursor: pointer;
}

.button-user:active {
    background-color: white;
    color: black;
    cursor: auto;
}

.input-user {
    text-align: center;
    font-size: 18px;
    height: 40px;
    width: 100%;
}

.tab button:hover {
    background-color: #ddd;
}
  
.tab button.active {
    background-color: gray;
    color: white;
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}
  
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    width: 100%;
}

.button-confirm {
    width: 100%;
    height: 40px;
    background-color: gray;
    color: white;
}

.button-confirm:hover {
    background-color: #953133;
    color: white;
    cursor: pointer;
}

.button-confirm:active {
    background-color: gray;
    color: white;
    cursor: auto;
}

.td-username {
    background-color: #e7e4e0;
    font-size: 18px;
}

.td-user {
    border: 1px solid black;
    border-collapse: collapse;
}

.tr-user {
    height: 40px;
    width: 100%;
}

.default-content {
    display: block;
}

/* Rules page */

.div-rules {
    width: 80%;
    margin-left: 10%;
}

.table-options {
    width: 100%;
    height: 80%;
    border: 5px solid #953133;
    border-collapse: separate;
    border-spacing: 10px;
}

.form-option {
    width: 100%;
    height: 100%;
}

.button-menu {
    margin-left: 2%;
    width: 15%;
    font-size: 20px;
    border: none;
    background-color: #953133;
    color: white;
}

.button-menu:hover {
    color: black;
    cursor: pointer;
}

.button-menu:active {
    color: white;
    cursor: auto;
}

/* Modal window */

.modal {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.6);
  }
  
.modal-content {
    background-color: #fefefe;
    border: 1px solid #888;
    padding: 10px;
    width: 80%;
    margin-left: 10%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    height: 80%;
    max-height: 80%;
    overflow-y: auto;
}
  
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}