{% extends "template.html" %}
{% block content %}

    <!-- Menu modal window -->
    <div class="modal" id="div-modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <table class="table-options">
                <tr>
                    <td>
                        <form action="/logout" method="get" class="form-option">
                            <input class="button-option" type="submit" value="Sair">
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>
                        <form action="/rules" method="get" class="form-option">
                            <input class="button-option" type="submit" value="Regras">
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>
                        <form action="/ranking" method="get" class="form-option">
                            <input class="button-option" type="submit" value="Ranking">
                        </form>
                    </td>
                </tr>
                {% if admin_access %}
                    <tr>
                        <td>
                            <form action="/management" method="get" class="form-option">
                                <input class="button-option" type="submit" value="Gerenciar">
                            </form>
                        </td>
                    </tr>
                {% endif %}
            </table>
        </div>
    </div>

    <!-- Result comparison modal window -->
    <div class="modal" id="div-modal-comparison">
        <div class="modal-content">
            <span class="close-comparison">&times;</span>
            <table class="table-options" id="table-comparison">
            </table>
        </div>
    </div>

    <!-- Page header -->
    <div class="header">
        <div class="header-1">
            <button class="button-menu" id="button-menu"><i class="fa-solid fa-bars"></i></button>
        </div>
        <div class="header-2">
            <p class="p-score"><b>{{ username }}</b> (pontos: {{ score }})</p>
        </div>
        <div class="header-3">
            <a href="/guesses">
                <button class="button-save" id="button-refresh-page" value="Atualizar página">
                    <i class="fa fa-refresh"></i>
                </button>
            </a>
        </div>
    </div>

    <!-- Result area -->
    <div class="content">
        {% for match in matches %}
            <table class="table-match" id="table-match-{{ match['id'] }}">
                <tr class="tr-match-info">
                    <td class="td-match col-id" colspan="1" id="col-id-{{ match['id'] }}">Jogo {{ match["id"] }}</td>
                    <td class="td-match col-datetime" colspan="4">{{ match["datetime"] }}
                        <button class="button-comparison" id="button-comparison-{{ match['id'] }}" onclick="openComparison(this)"><i class="fa fa-eye"></i></button>
                    </td>
                </tr>
                <tr class="tr-match-result">
                    <td class="td-match col-team" id="col-team-1-{{ match['id'] }}">{{ match["team_1"] }}</td>
                    {% if guesses is none %}
                        <td class="td-match col-goals"><input class="input-goals goals-1" type="number" min=0 max=20 id="input-goals-1-{{ match['id'] }}" onchange="saveGuesses(this, false)" onfocus="this.oldValue = this.value;" disabled></td>
                    {% else %}
                        <td class="td-match col-goals"><input class="input-goals goals-1" type="number" min=0 max=20 value={{ guesses[match["id"]][0] }} id="input-goals-1-{{ match['id'] }}" onchange="saveGuesses(this, false)" onfocus="this.oldValue = this.value;" disabled></td>
                    {% endif %}
                    <td class="td-match col-versus">x</td>
                    {% if guesses is none %}
                        <td class="td-match col-goals"><input class="input-goals goals-2" type="number" min=0 max=20 id="input-goals-2-{{ match['id'] }}" onchange="saveGuesses(this, false)" onfocus="this.oldValue = this.value;" disabled></td>
                    {% else %}
                        <td class="td-match col-goals"><input class="input-goals goals-2" type="number" min=0 max=20 value={{ guesses[match["id"]][1] }} id="input-goals-2-{{ match['id'] }}" onchange="saveGuesses(this, false)" onfocus="this.oldValue = this.value;" disabled></td>
                    {% endif %}
                    <td class="td-match col-team" id="col-team-2-{{ match['id'] }}">{{ match["team_2"] }}</td>
                </tr>
                <tr>
                    {% if match["goals_1"] == none %}
                        <td class="td-match col-real-result col-match-status" colspan="3">Ainda não jogado</td>
                    {% else %}
                        <td class="td-match col-real-result col-match-status" colspan="3">Resultado real: {{ match["goals_1"] }} x {{ match["goals_2"] }}</td>
                    {% endif %}
                    {% if guesses != none %}
                        <td class="td-match col-score" colspan="2">Pontos ganhos: {{ guesses[match["id"]][2] }}</td>
                    {% else %}
                        <td class="td-match col-score" colspan="2">Pontos ganhos: 0</td>
                    {% endif %}
                </tr>
            </table>
        {% endfor %}
        <div class="div-access-menu" id="div-access-menu" onclick="openMenu()">
            <h3>Acessar o menu</h3>
        </div>
    </div>

{% endblock %}