{% extends "template.html" %}
{% block content %}

    <!-- Modal window -->
    <div class="modal" id="div-modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <table class="table-options">
                <tr>
                    <td>
                        <form action="/login" method="get" class="form-option">
                            <input class="button-option" type="submit" value="Sair">
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>
                        <form action="/rules" method="get" class="form-option">
                            <input class="button-option" type="submit" value="Regras">
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input class="button-option" id="button-save-guesses" type="submit" value="Salvar" onclick="saveGuesses()">
                    </td>
                </tr>
                <tr>
                    <td>
                        <form action="/ranking" method="get" class="form-option">
                            <input class="button-option" type="submit" value="Ranking">
                        </form>
                    </td>
                </tr>
                {% if admin_access %}
                    <tr>
                        <td>
                            <form action="/management" method="get" class="form-option">
                                <input class="button-option" type="submit" value="Gerenciar">
                            </form>
                        </td>
                    </tr>
                {% endif %}
            </table>
        </div>
    </div>

    <!-- Page header -->
    <div class="header">
        <button class="button-menu" id="button-menu"><i class="fa-solid fa-bars"></i></button>
    </div>

    <!-- Result area-->
    <div class="content">
        {% for match in matches %}
            <table class="table-match" id="table-match-{{ match['id'] }}">
                <tr class="tr-match-info">
                    <td class="td-match col-id" colspan="1">Jogo {{ match["id"] }}</td>
                    <td class="td-match col-datetime" colspan="4">{{ match["datetime"] }}</td>
                </tr>
                <tr class="tr-match-result">
                    <td class="td-match col-team">{{ match["team_1"] }}</td>
                    {% if guesses is none %}
                        <td class="td-match col-goals"><input class="input-goals goals-1" type="number" min=0 max=20></td>
                    {% else %}
                        <td class="td-match col-goals"><input class="input-goals goals-1" type="number" min=0 max=20 value={{ guesses[match["id"]][0] }}></td>
                    {% endif %}
                    <td class="td-match col-versus">x</td>
                    {% if guesses is none %}
                        <td class="td-match col-goals"><input class="input-goals goals-2" type="number" min=0 max=20></td>
                    {% else %}
                        <td class="td-match col-goals"><input class="input-goals goals-2" type="number" min=0 max=20 value={{ guesses[match["id"]][1] }}></td>
                    {% endif %}
                    <td class="td-match col-team">{{ match["team_2"] }}</td>
                </tr>
                <tr>
                    {% if match["goals_1"] == none %}
                        <td class="td-match col-real-result" colspan="3">Ainda não jogado</td>
                    {% else %}
                        <td class="td-match col-real-result" colspan="3">Resultado real: {{ match["goals_1"] }} x {{ match["goals_2"] }}</td>
                    {% endif %}
                    {% if guesses != none %}
                        <td class="td-match col-score" colspan="2">Pontos ganhos: {{ guesses[match["id"]][2] }}</td>
                    {% else %}
                        <td class="td-match col-score" colspan="2">Pontos ganhos: 0</td>
                    {% endif %}
                </tr>
            </table>
        {% endfor %}
    </div>

{% endblock %}