{% extends "template.html" %}
{% block content %}

<div class="div-login">
    <form method="post" action="{{ url_for('authenticate') }}">
        <img src="./static/images/logo.png" alt="background Image"class="image-login">
        <br><br>
        <label for="username" class="label-login">Usuário</label>
        <br>
        <input type="text" name="username" class="input-login" id="username">
        <br><br>
        <label for="password" class="label-login">Senha</label>
        <br>
        <input type="password" name="password" class="input-login" id="password">
        <br><br><br>
        <input type="submit" name="login" id="login" value="Entrar" class="button-login">
        <br>
    </form>
</div>

{% endblock %}