{% extends "template.html" %}
{% block content %}

    <!-- Page header -->
    <div class="header">
        <table class="table-options">
            <tr>
                <td>
                    <form action="/login" method="get">
                        <input class="button-option" type="submit" value="Sair">
                    </form>
                </td>
                <td>
                    <form action="/guesses" method="get">
                        <input class="button-option" type="submit" value="Palpites">
                    </form>
                </td>
                <td>
                    <form action="/ranking" method="get">
                        <input class="button-option" type="submit" value="Ranking">
                    </form>
                </td>
            </tr>
        </table>
    </div>

    <!-- User list area-->
    <div class="content">
        <table class="table-users" id="table-users">
            <tr class="tr-header">
                <td><h4>Nome</h4></td>
                <td><h4>Usuário</h4></td>
                <td><h4>Senha</h4></td>
                <td><h4>Ação</h4></td>
            </tr>
            <tr>
                <td class="td-ranking"><input type="text" class="input-user" id="input-add-name"></td>
                <td class="td-ranking"><input type="text" class="input-user" id="input-add-username"></td>
                <td class="td-ranking"><input type="text" class="input-user" id="input-add-password"></td>
                <td class="td-ranking"><input type="button" class="button-user" id="button-add-user" value="Adicionar" onclick="addUser()"></td>
            </tr>            
            {% for user in users %}
                <tr id="tr-user-{{ user['username'] }}">
                    <td class="td-ranking" id="td-name-{{ user['name'] }}">{{ user["name"] }}</td>
                    <td class="td-ranking" id="td-username-{{ user['username'] }}">{{ user["username"] }}</td>
                    <td class="td-ranking" id="td-password-{{ user['password'] }}">{{ user["password"] }}</td>
                    <td class="td-ranking"><input type="button" class="button-user" id="button-delete-{{ user['username'] }}" value="Excluir" onclick="deleteUser(this)"></td>
                </tr>
            {% endfor %}
        </table>
    </div>

{% endblock %}