{% extends "template.html" %}
{% block content %}

    <!-- Modal window -->
    <div class="modal" id="div-modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <table class="table-options">
                <tr>
                    <td>
                        <form action="/logout" method="get" class="form-option">
                            <input class="button-option" type="submit" value="Sair">
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>
                        <form action="/rules" method="get" class="form-option">
                            <input class="button-option" type="submit" value="Regras">
                        </form>
                    </td>
                </tr>
                <td>
                    <form action="/guesses" method="get" class="form-option">
                        <input class="button-option" type="submit" value="Meus palpites">
                    </form>
                </td>
            </tr>
                <tr>
                    <td>
                        <form action="/ranking" method="get" class="form-option">
                            <input class="button-option" type="submit" value="Ranking">
                        </form>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <!-- Page header -->
    <div class="header">
        <button class="button-menu" id="button-menu"><i class="fa-solid fa-bars"></i></button>
    </div>

    <!-- Management area-->
    <div class="content">
        <div class="tab">
            <button class="tablinks active" onclick="openTab(event, 'users')">Usuários</button>
            <button class="tablinks" onclick="openTab(event, 'results')">Resultados</button>
        </div>
          
        <!-- User list tab -->
        <div id="tab-users" class="tabcontent active default-content">
            <table class="table-users" id="table-users">
                <tr class="tr-header">
                    <td><h4>Nome</h4></td>
                    <td><h4>Usuário</h4></td>
                    <td><h4>Senha</h4></td>
                    <td colspan="2"><h4>Ação</h4></td>
                </tr>
                <tr class="tr-user">
                    <td class="td-user"><input type="text" class="input-user" id="input-add-name"></td>
                    <td class="td-user"><input type="text" class="input-user" id="input-add-username"></td>
                    <td class="td-user"><input type="text" class="input-user" id="input-add-password"></td>
                    <td class="td-user"><button class="button-user" id="button-add-user"onclick="addUser()"><i class="fas fa-plus"></i></button></td>
                </tr>            
                {% for user in users %}
                    <tr class="tr-user" id="tr-user-{{ user['username'] }}">
                        <td class="td-user" id="td-name-{{ user['name'] }}"><input type="text" value="{{ user['name'] }}" class="input-user" id="input-name-{{ user['username'] }}"></td>
                        <td class="td-user td-username" id="td-username-{{ user['username'] }}">{{ user["username"] }}</td>
                        <td class="td-user" id="td-password-{{ user['password'] }}"><input type="text" value="{{ user['password'] }}" class="input-user" id="input-password-{{ user['username'] }}"></td>
                        <td class="td-user"><button type="button" class="button-user" id="button-update-{{ user['username'] }}" onclick="updateUser(this)"><i class="fa-solid fa-floppy-disk"></i></button></td>
                        <td class="td-user"><button type="button" class="button-user" id="button-delete-{{ user['username'] }}" onclick="deleteUser(this)"><i class="fa-solid fa-trash"></i></button></td>
                    </tr>
                {% endfor %}
            </table>
        </div>

        <!-- Match results tab -->
        <div id="tab-results" class="tabcontent">
            {% for match in matches %}
                <table class="table-results" id="table-results-{{ match['id'] }}">
                    <tr class="tr-match-info">
                        <td class="td-match col-id" colspan="1">Jogo {{ match["id"] }}</td>
                        <td class="td-match col-datetime" colspan="5">{{ match["datetime"] }}</td>
                    </tr>
                    <tr class="tr-match-result">
                        <td class="td-match col-team">{{ match["team_1"] }}</td>
                        {% if match["goals_1"] != none %}
                            <td class="td-match col-goals"><input class="input-goals goals-1" id="input-goals1-{{ match['id'] }}" type="number" min=0 max=20 value={{ match['goals_1'] }}></td>
                        {% else %}
                            <td class="td-match col-goals"><input class="input-goals goals-1" id="input-goals1-{{ match['id'] }}" type="number" min=0 max=20></td>
                        {% endif %}
                        <td class="td-match col-versus">x</td>
                        {% if match["goals_2"] != none %}
                            <td class="td-match col-goals"><input class="input-goals goals-2" id="input-goals2-{{ match['id'] }}" type="number" min=0 max=20 value={{ match['goals_2'] }}></td>
                        {% else %}
                            <td class="td-match col-goals"><input class="input-goals goals-2" id="input-goals2-{{ match['id'] }}" type="number" min=0 max=20></td>
                        {% endif %}
                        <td class="td-match col-team">{{ match["team_2"] }}</td>
                        <td rowspan="2"><button type="button" class="button-confirm" id="button-confirm-{{ match['id'] }}" onclick="updateMatch(this)"><i class="fa-solid fa-floppy-disk"></i></button></td>
                    </tr>
                </table>
            {% endfor %}
        </div>
    </div>

{% endblock %}