{% extends "template.html" %}
{% block content %}

    <!-- Page header -->
    <div class="header">
        <table class="table-options">
            <tr>
                <td>
                    <form action="/login" method="get">
                        <input class="button-option" type="submit" value="Sair">
                    </form>
                </td>
                <td>
                    <form action="/guesses" method="get">
                        <input class="button-option" type="submit" value="Palpites">
                    </form>
                </td>
                {% if admin_access %}
                    <td>
                        <form action="/management" method="get">
                            <input class="button-option" type="submit" value="Gerenciar">
                        </form>
                    </td>
                {% endif %}
            </tr>
        </table>
    </div>

    <!-- Result area-->
    <div class="content">
        <table class="table-match">
            <tr class="tr-header">
                <td><h4>Posição</h4></td>
                <td><h4>Nome</h4></td>
                <td><h4>Usuário</h4></td>
                <td><h4>Pontos</h4></td>
            </tr>
            {% for user in users %}
                {% if loop.index %2 == 0 %}
                    <tr class="tr-even">
                {% else %}
                    <tr class="tr-odd">
                {% endif %}
                    <td class="td-ranking">{{ user["position"] }}</td>
                    <td class="td-ranking">{{ user["name"] }}</td>
                    <td class="td-ranking">{{ user["username"] }}</td>
                    <td class="td-ranking">{{ user["score"] }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>

{% endblock %}