{% extends "template.html" %}
{% block content %}

    <!-- Modal window -->
    <div class="modal" id="div-modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <table class="table-options">
                <tr>
                    <td>
                        <form action="/logout" method="get" class="form-option">
                            <input class="button-option" type="submit" value="Sair">
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>
                        <form action="/rules" method="get" class="form-option">
                            <input class="button-option" type="submit" value="Regras">
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>
                        <form action="/guesses" method="get" class="form-option">
                            <input class="button-option" type="submit" value="Meus palpites">
                        </form>
                    </td>
                </tr>
                {% if admin_access %}
                    <tr>
                        <td>
                            <form action="/management" method="get" class="form-option">
                                <input class="button-option" type="submit" value="Gerenciar">
                            </form>
                        </td>
                    </tr>
                {% endif %}
            </table>
        </div>
    </div>

    <!-- Page header -->
    <div class="header">
        <div class="header-1">
            <button class="button-menu" id="button-menu"><i class="fa-solid fa-bars"></i></button>
        </div>
    </div>

    <!-- Result area-->
    <div class="content">
        <table class="table-match">
            <tr class="tr-header">
                <td><h4>Posição</h4></td>
                <td><h4>Jogador</h4></td>
                <td><h4>Pontos</h4></td>
            </tr>
            {% for user in users %}
                {% if loop.index %2 == 0 %}
                    <tr class="tr-ranking tr-even">
                {% else %}
                    <tr class="tr-ranking tr-odd">
                {% endif %}
                        <td class="td-ranking">{{ user["position"] }}</td>
                        <td class="td-ranking">{{ user["name"] }} ({{ user["username"] }})</td>
                        <td class="td-ranking">{{ user["score"] }}</td>
                    </tr>
            {% endfor %}
        </table>
    </div>

{% endblock %}