{% extends "template.html" %}
{% block content %}

    <!-- Modal window -->
    <div class="modal" id="div-modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <table class="table-options">
                <tr>
                    <td>
                        <form action="/logout" method="get" class="form-option">
                            <input class="button-option" type="submit" value="Sair">
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>
                        <form action="/guesses" method="get" class="form-option">
                            <input class="button-option" type="submit" value="Meus palpites">
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>
                        <form action="/ranking" method="get" class="form-option">
                            <input class="button-option" type="submit" value="Ranking">
                        </form>
                    </td>
                </tr>
                {% if admin_access %}
                    <tr>
                        <td>
                            <form action="/management" method="get" class="form-option">
                                <input class="button-option" type="submit" value="Gerenciar">
                            </form>
                        </td>
                    </tr>
                {% endif %}
            </table>
        </div>
    </div>

    <!-- Page header -->
    <div class="header">
        <div class="header-1">
            <button class="button-menu" id="button-menu"><i class="fa-solid fa-bars"></i></button>
        </div>
    </div>

    <!-- Result area-->
    <div class="content">
        <div class="div-rules">
            <h3>Critérios de pontuação</h3>
            <ul>
                <li><p><b>Acertar placar exato:</b> 5 pontos</p></li>
                <li><p><b>Acertar vencedor/empate:</b> 3 pontos</p></li>
                <li><p><b>Errar placar e vencedor/empate:</b> 0 ponto</p></li>
            </ul>
            <h3>Como apostar</h3>
            <ul>
                <li><p><b>Editando seus palpites:</b> Logo após o login, é aberta a página "Meus 
                    Palpites", contendo todos os jogos disponíveis para palpite. Para informar
                    seus palpites, basta preencher os espaços em branco reservados para o placar 
                    de cada partida. Os placares em cinza correspondem a jogos que estão em andamento
                    ou que já foram finalizados, não sendo portanto mais possível editá-los.</p></li>
                <li><p><b>Salvando seus palpites:</b> Os palpites são salvos automaticamente cada vez
                    que um placar é editado.</p></li>
            </ul>
            <h3>Dinâmica do bolão</h3>
            <ul>
                <li><p><b>Prazo de apostas:</b> O palpite de cada jogo poderá ser editado 
                    quantas vezes necessário até 1 hora antes do início do jogo. A partir 
                    desse momento, os campos para preenchimento de palpites do jogo serão 
                    automaticamente bloqueados e não será mais possível editá-los. Portanto,
                    deve se atentar ao horário localizado acima de cada palpite, que corresponde
                    ao horário de início da partida, e não ao horário de bloqueio.</p></li>
                <li><p><b>Atualização da pontuação:</b> Após o término do jogo, o administrador 
                    informará o resultado real e, automaticamente, a pontuação de cada jogador 
                    será atualizada de acordo com o desempenho no jogo em questão.</p></li>
                <li><p><b>Acompanhamento da pontuação:</b> O jogador pode conferir sua respectiva
                    pontuação total na barra superior da página de palpites ou na página
                    de ranking, juntamente à pontuação dos demais jogadores. Além disso, a pontuação
                    obtida em cada jogo pode também ser visualizada abaixo de cada palpite.</p></li>
                <li><p><b>Exemplo:</b> O jogo 1 (Catar x Equador) vai começar no dia 20/11/2022 
                     às 13h00, portanto, é permitido editar palpites para esse jogo somente até 
                     esse mesmo dia, às 12h00, horário em que o mesmo será bloqueado para
                     edição. Quando o jogo terminar, o placar real será informado pelo
                     administrador e a pontuação de cada jogador será atualizada, sendo
                     ou não acrescentados novos pontos de acordo com o sucesso do palpite 
                     para esse jogo.</p></li>
            </ul>
            <h3>Premiação</h3>
            <ul>
                <li><p><b>Classificação dos jogadores:</b> A pontuação de todos os jogadores 
                    está disponível na página "Ranking", ordenadas do melhor para o pior colocado.
                    A seleção dos vencedores será realizada de acordo com esse ranking.</p></li>
                <li><p><b>Critério de desempate:</b> Em caso de empate por pontos, os jogadores serão
                    classificados de acordo com o número de placares exatos (palpites de 5 pontos)
                    realizados.</p></li>
                <li><p><b>Vencedores do bolão:</b> Serão premiados os 3 jogadores que atingirem 
                    a maior pontuação.</p></li>
                <li><p><b>Quantidade de jogos:</b> Inicialmente, todos os 48 jogos da primeira
                    fase já estão disponíveis. Os jogos de mata-mata serão adicionados na medida em
                    que forem confirmados.</p></li>
            </ul>
        </div>
        <div class="div-access-menu" id="div-access-menu" onclick="openMenu()">
            <h3>Acessar o menu</h3>
        </div>
    </div>

{% endblock %}